* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #101114;
  --primary-color: #1c1d20;
  --secondry-color: #4a4d57;
  /* --accent-color: rgb(164, 53, 240); */
  --accent-color: #da77f2;
  --text-color: #f9f9f9;
}

html {
  font-size: 62.5%;
  font-family: "Segoe", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-title {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.container {
  width: 47rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#todo-input {
  width: 100%;
  padding: 1rem 2.4rem;
  background: none;
  border: 2px solid var(--accent-color);
  border-radius: 100rem;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}

#todo-input:focus {
  outline: none;
}

form {
  position: relative;
}

#add-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2.4rem;
  height: 100%;
  background-color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 100rem;
  cursor: pointer;
}

.todo {
  margin-bottom: 0.5rem;
  padding: 0 1.6rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 1rem;
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease;
}

.delete-btn {
  background: none;
  border: none;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-btn svg {
  transition: 200ms ease;
}

.delete-btn:hover svg {
  fill: #ff0033;
}

.custom-checkbox {
  border: 2px solid var(--accent-color);
  min-width: 1.2rem;
  min-height: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--primary-color-color);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondry-color);
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 50rem) {
  #add-button {
    position: unset;
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem;
    height: auto;
    font-size: 1.5rem;
  }

  .todos-title {
    margin-top: 2.5rem;
    font-size: 2.5rem;
  }
}
